snippet bdocument "Begin document with all packages"
\documentclass[12pt]{article}

\usepackage[uft8]{inputenc}
\usepackage{graphicx}
\usepackage{ragged2e}
\usepackage{pslatex}
\usepackage{setspace}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{amsthm}
\usepackage{epstopdf}

\begin{document}
$0
\end{document}
endsnippet

